/*
  See SASS fail kompileeritakse tavaliseks CSS failiks.
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}
