/*
  See SASS fail kompileeritakse tavaliseks CSS failiks.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', sans-serif;
}

.done {
  background-color: green;
}
